/*This file is for your custom css.  All yours*/
body {
  background-image: url(../img/notebook.jpg);
  background-position: cover;
  font-family: Cedarville Cursive, cursive;
}

p, label {
  font-size: 25px;
}
.to-do-item {
  font-family: Cedarville Cursive, cursive;
}
input {
  font-family: sans-serif;
}
h1 {
  font-family: Cedarville Cursive, cursive;
  font-weight: bold;
  text-decoration: underline;
}
.list-container {
  border: solid 2px lightblue;
  border-radius: 5%;
  padding: 5px;
  margin-top: 10px;
  margin-botton: 10px;
  background-color: lightyellow;
}

.list-container li {
  font-size: 25px;
  font-family: sans-serif;
  list-style-type: none;
  text-align: center;

}

.sortable {
  position: relative;
}

.completed {
  text-decoration: line-through;
  color: grey;
}
 .edit-item {
   display: none;
 }

 footer {
    background-color: #F3F3F3;
    padding-top: 10px;
    padding-bottom: 0px;
    padding-left: 20px;
    position:fixed;
    bottom:0;
    width:100%;
 }
